@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KaijuKingz";
  src: "./KaijuKingz.5c7a5ce9.ttf";
}

@font-face {
  font-family: "Thaleah";
  src: "./ThaleahFat.72f05237.ttf";
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gamer {
  font-family: "KaijuKingz", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New";
}

.thaleah {
  font-family: "Thaleah";
}
